<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  body {
    margin: 0
  }
    #videoEl {
      position: absolute;
      right: 0px;
      width: 40vw;
      aspect-ratio: 9 / 16;
      transform: scaleX(-1);
    }
    #imgEl {
      width: 100vw;
      aspect-ratio: 9 / 16;
    }
    #toggleBtn {
      background: black;
      color: white;
    }
  </style>
</head>
<body>
  <img id="imgEl">
  <video id="videoEl"></video>
  <br>
  <button id="answerBtn">ANSWER</button>
  <button id="callBtn">CALL</button>
  <br>
  <input class="peerId" placeholder="peer id: ">
  <p class="myId">my Id: -----</p>
  
  <script src="socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const frameRate = 12;
    const callBtn = document.getElementById('callEl');
    const imageEl = document.getElementById('imgEl');
    const answerBtn = document.getElementById('answerBtn');
    const peerId = document.getElementById('peerId');
    const myId = document.getElementById('myId');
		
		let config = {};
		
		const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
		
		const cameraConstraints =	{
			video: {
				facingMode: {
					exact: 'user'
				}
			}
		}
		
		if('getUserMedia' in navigator.mediaDevices){
			navigator.mediaDevices.getUserMedia(cameraConstraints)
			.then(
				cameraSuccessCallback,
				cameraErrorCallback
				)
		}
		
		function cameraSuccessCallback(stream){
			if('srcObject' in videoEl){
				videoEl.srcObject = stream;
			}else{
				videoEl.src = URL.createObjectURL(stream)
			}
			
			videoEl.play();
			
			
			
			
		}
		
		callBtn.addEventListener('click',()=>{
			answerBtn.disabled = true;
			callBtn.disabled = true;
			socket.emit('peer-call');
			socket.on('peer-config',conf=>{
				myId.textContent = conf.id;
				captureFrame({
					canvas,
					ctx,
					id: conf.id,
					role: 'caller'
				});
			})
		})
		
		function sendFrameToServer(id,img,role){
			socket.emit('peer-frame',id,img,role)
		}
		
		function cameraErrorCallback(err){
			console.warn(err.message)
		}
		
    function captureFrame(obj) {
      canvas.width = videoEl.videoWidth;
      canvas.height = videoEl.videoHeight;
      ctx.drawImage(videoEl, 0, 0, canvas.width, canvas.height);

      const frameUrl = canvas.toDataURL('image/jpeg'); // You can change the format if needed
      sendFrameToServer(obj.id,frameUrl,obj.role); // Send the frame to the server

      // Schedule the next frame capture
      setTimeout(captureFrame, 1000 / frameRate); // Capture frames at the specified frame rate
     }
     
     socket.on('peer-frame',img=>{
			imageEl.src = img;
     })


  </script>
</body>
</html>
