<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>STREAM RECEIVER</title>
  <style>
    #stream {
      width: 50vw;
      aspect-ratio: 9 / 16;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <input id="streamInp" type="text/plain" placeholder="stream id: ">
  <button id="reqStream">connect</button>
  <span>Streamer Mode: </span>
  <select id="mode">
    <option value="regular">regular</option>
    <option value="c-mode">c-mode</option>
  </select>
  
  <img id="stream">
  <script src="socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const debugr = {
      _ping:  0,
      sub: false,
      rPing: (-1),
      recon: 0
    }
    const streamEl = document.getElementById('streamInp');
    const imgEl = document.getElementById('stream');
    const reqBtn = document.getElementById('reqStream');
    const mode = document.getElementById('mode');
    
    reqBtn.addEventListener('click',()=>{
      if(mode.value==='regular'){
        socket.emit('subscribe',streamEl.value)
      }else if(mode.value==='c-mode'){
        socket.emit('req_c-stream',streamEl.value)
      }
      debugr.subd=true;
    })
    
    socket.on('requested-frame',frame=>{
      imgEl.src=frame;
      debugr._ping++
    })
    socket.on('requested-cframe',frame=>{
      imgEl.src=frame;
      debugr._ping++
    })
    setInterval(()=>{
      if(!debugr.subd)return;
      if(debugr.rPing===debugr._ping&&debugr.recon<3){
        debugr.recon++
        console.warn('connection interrupted. reconnecting...');
        reqBtn.click();
      }else if(debugr.rPing===debugr._ping&&debugr.recon>2&&mode.value==='regular'){
        debugr.recon++;
        socket.emit('recon-notice',streamEl.value);
        reqBtn.click();
       }else if(debugr.rPing===debugr._ping&&debugr.recon>2&&mode.value==='c-mode'){
        debugr.recon++;
        reqBtn.click();
       }else{
        debugr.rPing=debugr._ping;
      }
    },5000)
  </script>
</body>
</html>
